
.buttonRounded {
	border-radius: 4px;
	font-size: 16px;
	font-family:Font Awesome 5 Free;
}
.buttonEdit {
	border-radius: 8px;
	font-size: 14px;
	font-family:Font Awesome 5 Free;
}
.auto-style1-small {
	width: 30px;
	height: 26px;
	font-family:Font Awesome 5 Free;
}
.auto-style1-small2 {
	width: 70px;
	height: 26px;
	font-family:Font Awesome 5 Free;
}
.auto-style1 {
	width: 150px;
	height: 26px;
	font-family:Font Awesome 5 Free;
	font-size: 16px;
}
.auto-style2 {
	width: 150px;
	height: 26px;
	font-family:Font Awesome 5 Free;
}
.Background
{
	background-color: Black;
	filter: alpha(opacity=90);
	opacity: 0.8;
}
.Popup
{
	background-color: #FFFFFF;
	border-width: 3px;
	border-style: solid;
	border-color: black;
	padding-top: 5px;
	padding-left: 0px;
	width: 500px;
	height: 320px;
}
.lbl {
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
								  supported by Chrome, Opera and Firefox */
}
.center {
	  margin: auto;
	  width: 90%;
	  padding: 0px;
	}
	.centerwithborder {
	  margin: auto;
	  width: 100%;
	  border: 2px solid #84e1e1;
	  padding: 0px;
	}
	.auto-style3 {
		width: 100%;
		height: 33px;
	}
	.auto-style4 {
		margin: auto 10px auto 10px;
		width: 60%;
		padding: 0px;
	}
	.auto-style5 {
		 height: 26px;
		 width: 400px;
	 }
	 .auto-style6 {
		 width: 324px;
	 }
	 .auto-style7 {
		width: 150px;
		height: 26px;
		font-family:Font Awesome 5 Free;
		font-size: 16px;
	 }
	 .auto-style8 {
	width: 180px;
	height: 26px;
	font-family:Font Awesome 5 Free;
	font-size: 16px;
}
.auto-style9 {
	width: 50px;
	height: 26px;
	font-family:Font Awesome 5 Free;
	font-size: 16px;
}
.line-border-Right {
  border-left: 4px dotted blue;
}
