﻿
.Grid {background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; font-family:Font Awesome 5 Free; color: #474747;}
.Grid td {
      padding: 2px; 
      border: solid 1px #c1c1c1; 
	  font-family:Font Awesome 5 Free;
	  font-size:16px;
	  }
.Grid th  {
      padding : 4px 2px; 
      color: #fff; 
      background: #059fe1 url(img/grid-header.png) repeat-x top; 
      border-left: solid 1px #525252; 
      font-size: 0.9em; }
.Grid .alt {
      background: #fcfcfc url(img/grid-alt.png) repeat-x top; }
.Grid .pgr {background: #059fe1 url(img/grid-pgr.png) repeat-x top; }
.Grid .pgr table { margin: 3px 0; }
.Grid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }   
.Grid .pgr a { color: Gray; text-decoration: none; }
.Grid .pgr a:hover { color: #000; text-decoration: none; }
    
 